
# Spark Engine ID 
SPARK_ENGINE_ID="spark825"

# cloud user id / Update with your IBMID, usually your email  
CLOUD_USER_ID = ""

# COS buckets 
HIVE_BUCKET="hive-tor-bucket"
WXD_BUCKET="milvus-tor-bucket"

# COS credential
COS_ACCESS_KEY=
COS_SECRET_KEY= 


# watsonx data catalogs 
HIVE_CATALOG="hive_catalog"
ICEBERG_CATALOG="iceberg_catalog"


# watsonx.data schemas -> Update schemas names to add your name and first 3 letter from surname
SCHEMA_DWH_OFFLOAD = "netezza_offload_YourName_First3LettersOfSurname"
SCHEMA_DATA_H = "input_data_hive_YourName_First3LettersOfSurname"
SCHEMA_DATA_I = "clients_schema_YourName_First3LettersOfSurname"


# watsonx.ai ->  Copy from your Reference Note
WATSONX_URL = "https://us-south.ml.cloud.ibm.com"
WATSONX_PROJECT_ID = ""